
<link href="@Url.Content("~/engine1/style.css")" rel="stylesheet" type="text/css" />


<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><a href="https://localhost:44300/Item/Details/23"><img src="data1/images/slider1.jpg" alt="1446877" title="1446877" id="wows1_0" /></a></li>
            <li><a href="http://localhost:58041/Item/Details/25"><img src="data1/images/slider2.jpg" alt="twitch" title="twitch" id="wows1_1" /></a></li>
            <li><a href="http://localhost:58041/Item/Details/23"><img src="data1/images/slider3.jpg" alt="1480300" title="1480300" id="wows1_2" /></a></li>
       </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="1446877"><img src="data1/tooltips/slider1.jpg" alt="1446877" />1</a>
            <a href="#" title="twitch"><img src="data1/tooltips/slider2.jpg" alt="twitch" />2</a>
            <a href="#" title="1480300"><img src="data1/tooltips/slider3.jpg" alt="1480300" />3</a>
        </div>
    </div><span class="wsl"><a href="http://wowslider.com/vs">jquery slideshow</a> by WOWSlider.com v6.1</span>
    <div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/jquery.js"></script>
<script type="text/javascript" src="engine1/wowslider.mod.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
@System.Web.Optimization.Scripts.Render("~/bundles/jquery")