@model Hurtownia.Models.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/ManageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SliderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
