@model IEnumerable<Hurtownia.ViewModels.CategoryStatistics>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Nazwa      
        </th>

        <th>
            Ilosc Produktow w kategorii
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.CategoryName)
                
            </td>
            <td>
                @item.Categorys
            </td>
        </tr>
    }
</table>
<br />
@*<a href="GeneratePDF"> Generuj PDF</a>*@